@import url("https://fonts.googleapis.com/css?family=Lato");
$purple-color: #8367d8;
$font-stack: "Lato", sans-serif;


.featured-item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    text-align: left;
}

.featured-item-image-xxl, .featured-item-image-xl, .featured-item-image-lg {
    cursor: pointer;
}

.featured-item-image-xxl {
    width: 18.2vw;
    height: 18.2vw;
}

.featured-item-image-xl {
    width: 14.4vw;
    height: 19.4vw;
}

.featured-item-image-lg {
    width: 14.4vw;
    height: 14.4vw;
}

.featured-item-image-xxl:hover, .featured-item-image-xl:hover, .featured-item-image-lg:hover {
    scale: 1.02;
    transition: all 0.1s;
}

.prop-name {
    font-family: $font-stack;
    font-weight: bold;
    font-size: 24px;
    color: #252525;
    letter-spacing: 0.84px;
    margin-top:10px;
}

@media (max-width: 575px) {
    .featured-item-container {
        position: relative;
        width: 100%;
    }
    .featured-item-container:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    .featured-item-image-xxl, .featured-item-image-xl, .featured-item-image-lg {
        position: absolute;
        width: 100%;
        height: 82%
    }
}