.td-class {
    font-weight: bold;
}

.user-avatar-photo {
    width: 60px !important;
    height: 60px !important;
    margin-right: 20px;
  }

  .table-head {
     background: #F0F0F0;
     font-size: 18px;
     font-weight: normal;
  }

  .td-price-green {
    color: #6CC047;
    font-weight: bold;
  }

  .td-price-bold {
      font-weight: bold;
  }
