.td-class {
    font-weight: bold;
}

.user-avatar-photo {
    width: 60px !important;
    height: 60px !important;
    margin-right: 20px;
}

.table-head {
    background: #f0f0f0;
    font-size: 18px;
    font-weight: normal;
}

.td-price-green {
    color: #6cc047;
    font-weight: bold;
}

.td-price-bold {
    font-weight: bold;
}
