@import "../defaults/defaults";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #252525;
  height: 40px;
  padding-right: 11.1%;
  padding-left: 11.1%;
}

.header-text {
  font-family: $font-stack;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.49px;
  font-size: 14px;
}

.header-or {
  font-family: $font-stack;
  font-weight: bold;
  font-size: 14px;
  color: #9b9b9b;
  letter-spacing: 0.49px;
  margin: 0 0.8em 0 0.8em;
}

.header-title {
  font-family: $font-stack;
  font-weight: lighter;
  font-size: 1em;
  color: $purple-color;
  letter-spacing: 0.84px;
}

.login-acccount {
  padding-right: 4em;
}

.have-account {
  font-size: 1em;
  color: #9b9b9b;
  letter-spacing: 0.63px;
  margin-bottom: 4em;
}

.login-word {
  text-decoration: none;
  color: $purple-color;
  letter-spacing: 0.63px;
}

.header-text {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 14px;
}

.social-link {
  padding-right: 10px;
}

.header-logout {
  text-decoration: none;
  color: #9b9b9b;
  font-size: 14px;
}

.lower-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0.56px;
  padding-right: 11.1%;
  padding-left: 11.1%;
  min-height: 80px;
  flex-wrap: wrap;
  color: #252525;
  font-family: $font-stack;
  font-weight: lighter;
}

.lower-header-brand {
  font-size: 24px;
  letter-spacing: 0.84px;
  font-weight: lighter;
  color: $purple-color;
  padding-right: 250px;
}

.lower-header-brand:hover {
  color: $purple-color;
}

.lower-header-search {
  min-width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.lower-header-search-icon {
  position: absolute;
  right: 8px;
  font-size: 36px;
  top: 9px;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.dark-nav-link {
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
}

.dark-nav-link:hover {
  color: $purple-color;
}

.dark-active-nav-link {
  color: $purple-color;
  font-weight: bold;
}

.hello-user {
  margin-right: 30px;
}

.auction-fill {
  color: #c4bfd6;
  margin-right: 5;
}

.welcome-msg {
  font-size: 16px;
  color: #fafafa;
}

.name-msg {
  margin-left: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #fafafa;
}

.dropdown-arrow {
  background-color: #252525;
  border: none;
  margin-left: -15px;

  &:hover {
    background-color: transparent !important;
  }

  &:active {
    background-color: transparent !important;
  }

  &:focus {
    box-shadow: none !important;
    background-color: transparent !important;
  }

  @media (max-width: 575px) {
    .name-msg {
      max-width: 20vw;
    }
    .welcome-msg {
      max-width: 20vw;
    }
    .header-nav-links .nav-link {
      padding: 0.25rem 0.5rem;
    }
    .lower-header-container {
      flex-direction: column;
    }
    .lower-header-brand {
      padding-top: 10px;
    }
    .lower-header-search {
      width: 90%;
    }
  }
}
