.app-container {
  color: #252525;
  font-size: 16px;
  letter-spacing: 0.56px;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.route-container {
  padding: 0 11.1% calc(11.1% + 356px) 11.1%;
}

@media (max-width: 575px) {
  .route-container {
    padding-bottom: calc(11.1% + 466px);
  }
}

/*headings*/

h1 {
  font-size: 46px;
  letter-spacing: 1.61px;
  line-height: 52px;
  margin-bottom: 0;
  font-weight: normal;
}

h2 {
  font-size: 28px;
  letter-spacing: 0.98px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: unset;
}

h3 {
  font-size: 24px;
  letter-spacing: 0.84px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: unset;
}

/*button*/

.btn {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.63px;
  border: 3px solid #8367d8;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  flex-wrap: wrap;
}

/*form*/

.form-control {
  border: 1px solid #e3e3e3;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.11);
  border-radius: 0;
  color: #9b9b9b;
}

.form-control-xl-16 {
  height: 54px;
  font-size: 16px;
  letter-spacing: 0.56px;
}

.form-control-xl-18 {
  height: 54px;
  font-size: 18px;
  letter-spacing: 0.63px;
}

.form-control-gray {
  background: #fcfcfc;
  border: 1px solid #d8d8d8;
}

.form-group,
.custom-control {
  text-align: left;
}

.form-label,
.font-18,
.custom-control-label {
  font-size: 18px;
  letter-spacing: 0.63px;
}

.font-15 {
  font-size: 15px;
  letter-spacing: 0.53px;
}

.form-row {
  justify-content: space-between;
}

.alert {
  font-size: 18px;
  letter-spacing: 0.63px;
  border: none;
  text-align: left;
  padding-left: 11.1%;
  border-radius: 0;
  margin-top: -40px;
}

.alert-warning {
  background: #f6f2e5;
  color: #ab944e;
}

.alert-success {
  background: #f0f3ee;
  font-weight: bold;
  color: #417505;
}

/* bracdcrumb */

.breadcrumb {
  background: #fafafa;
  padding-left: 11.1%;
  padding-right: 11.1%;
  text-align: right;
  justify-content: end;
  height: 60px;
  align-items: center;
  border-radius: 0;
  position: relative;
  margin-bottom: 40px;

}

.breadcrumb-title {
  position: absolute;
  left: 11.1%;
  font-size: 18px;
  letter-spacing: 0.63px;
}

@media (max-width: 765px) {
  .breadcrumb-title {
    margin: 0 auto;
    width: max-content;
    top: 0;
    right: 0;
    left: 0;
  }
  .breadcrumb {
    align-items: flex-end;
    padding-left: 1%;
    padding-right: 1%;
  }
}