@import "./styles/defaults/_defaults";

.app-container {
  color: #252525;
  font-size: 16px;
  letter-spacing: 0.56px;
  text-align: center;
  position: relative;
  min-height: 100vh;
  width: auto;
}

.route-container {
  padding: 0 11.1% calc(11.1% + 356px) 11.1%;
}

@media (max-width: 575px) {
  .route-container {
    padding-bottom: calc(11.1% + 466px);
  }
}

.form-control {
  border: 1px solid #e3e3e3;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.11);
  border-radius: 0;
  color: #9b9b9b;
}

.form-control-xl-16 {
  height: 54px;
  font-size: 16px;
  letter-spacing: 0.56px;
}

.form-control-xl-18 {
  height: 54px;
  font-size: 18px;
  letter-spacing: 0.63px;
}

.form-control-gray {
  background: #fcfcfc;
  border: 1px solid #d8d8d8;
}

.form-group,
.custom-control {
  text-align: left;
}

.form-label,
.font-18,
.custom-control-label {
  font-size: 18px;
  letter-spacing: 0.63px;
}

.item-text {
  font-style: $font-stack;
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
  margin-left: 10px;
}

.breadcrumb-hidden {
  display: none;
}

.font-15 {
  font-size: 15px;
  letter-spacing: 0.53px;
}

.form-row {
  justify-content: space-between;
}

.alert-div {
  margin-top: 40xp;
  margin-bottom: -1rem;
}

.alert {
  border: none;
  text-align: left;
  padding-left: 11.1%;
  border-radius: 0;
  margin-top: -40px;
  font-size: 18px;
  letter-spacing: 0.63px;
}

/* bracdcrumb */

.breadcrumb {
  height: 60px;
  text-align: right;
  align-items: center;
  position: relative;
  background: #fafafa !important;
  justify-content: end;
  width: auto;
}

.breadcrumb-title {
  padding-left: 245px;
  left: 11%;
  font-size: 18px;
  letter-spacing: 0.64px;
  margin-right: 10px;
}

@media (max-width: 765px) {
  .breadcrumb-title {
    margin: 0 auto;
    width: max-content;
    top: 0;
    right: 0;
    left: 0;
  }

  .user-avatar-photo {
    width: 60px !important;
    height: 60px !important;
    margin-right: 20px;
  }

  .breadcrumb {
    align-items: flex-end;
    padding-left: 1%;
    padding-right: 1%;
  }

  .error-msg {
    color: red;
  }
}

.white-nav-link {
  color: #ffffff;

  &:hover {
    color: #d8d8d8;
  }
}

.purple-nav-link {
  color: $purple-color;
}

.purple-nav-link:hover {
  color: #573bac;
}
.dark-nav-link-crumb {
  font-style: $font-light;
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
  margin-left: 1255px;
  margin-right: -5px;
}

.dark-nav-link-crumb:hover {
  color: $purple-color;
}

.dark-active-nav-link {
  color: $purple-color;
  font-weight: bold;
}
