@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 10em;
  overflow-x: hidden;
}

.main {
  min-height: 100%;
}

.form-box {
  display: flex;
  justify-content: center;
  margin: 1em 0 4em 0;
}

.form {
  width: 35%;
  min-width: 500px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
    width: 100%;
    height: 2em;
    background-color: #fafafa;
    color: #252525;
    font-family: "Lato";
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2em;
  border: 1px solid #D8D8D8;
  background-color: #FCFCFC;
}

.generic-field {
  width: 80%;
  margin-top: 1em;
  font-size: 0.8em;
  font-family: "Lato";
}

.btn-submit {
  width: 81%;
  height: 2em;
  border: 3px solid #8367D8;
  background-color: #FFFFFF;
  font-size: 0.7em;
  font-family: "Lato";
  font-weight: bold;
  margin: 3em 0 1em 0;
}

.btn-login {
  width: 81%;
  height: 2em;
  font-family: "Lato";
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.63px;
  text-align: center;
  margin: 3em 0 3em 0;
  background: #8367D8;
  border: 3px solid #8367D8;
  box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
}

.validation-error {
  color: red;
  font-family: "Lato";
}

.footer {
  display: flex;
  justify-content: space-around;
  background: #252525;
  border: 1px solid #979797;
  width: 100%;
  height: 10em;
  position: absolute;
  bottom: 0;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer a {
  text-decoration: none;
  font-family: "Lato";
  font-size: 0.7em;
  color: #FFFFFF;
  letter-spacing: 0.56px;
}

.footer-contact {
  font-family: "Lato";
  font-size: 0.7em;
  color: #FFFFFF;
  letter-spacing: 0.56px;
}

.footer-text {
opacity: 0.5;
font-family: "Lato";
font-size: 1em;
color: #FFFFFF;
letter-spacing: 0.56px;
margin-top: 2em;
margin-bottom: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-top {
  background: #252525;
  height: 2em;
}

.header-middle {
  background: #FFFFFF;
  height: 3em;
  padding-left: 4em;
}

.social-networks {
  padding-left: 4em;
  color: #D8D8D8;
}

.header-text {
  font-family: "Lato";
  font-weight: bold;
  font-size: 0.6em;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.49px;
  background-color: #252525;
  border: none;
}

.header-or {
  font-family: "Lato";
  font-weight: bold;
  font-size: 0.6em;
  color: #9B9B9B;
  letter-spacing: 0.49px;
  margin: 0 0.8em 0 0.8em;
}

.header-title {
  font-family: "Lato";
  font-weight: lighter;
font-size: 1em;
color: #8367d8bb;
letter-spacing: 0.84px;
}

.login-acccount {
  padding-right: 4em;
}

.have-account {
  font-size: 0.7em;
  color: #9B9B9B;
  letter-spacing: 0.63px;
  margin-bottom: 4em;
  font-family: "Lato";
}

.login-word {
  text-decoration: none;
  color: #8367D8;
  letter-spacing: 0.63px;
  font-family: "Lato";
}

.status {
  color: black;
  letter-spacing: 0.63px;
  font-family: "Lato";
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  padding-left: 1em;  
}

.status-success {
  background-color: rgb(141, 194, 141);
}

.status-error {
  background-color: rgba(209, 132, 122, 0.808);
}

.page-name {
  display: flex;
  align-items: center;
  background: #FAFAFA;
  font-family: "Lato";
  text-transform: uppercase;
  font-size: 0.7em;
  color: #252525;
  letter-spacing: 0.63px;
  padding-left: 5.5em;
  height: 3em;
}

.status a {
  text-decoration: none;
}

.helper {
  display: flex;
  margin: auto;
  width: 50%;
  min-width: 500px;
  font-family: "Lato";
  padding: 3em 0 3em 0;
}

.helper p {
  font-size: 0.8em;
color: #9B9B9B;
letter-spacing: 0.63px;
line-height: 25px;
padding-top: 1em;
}

@media screen and (max-width: 600px) {
    .form {
      width: 95%;
      min-width: 100px;
    }
    .helper {
      width: 95%;
      min-width: 100px;
    }
}


.product-right {
  font-family: "Lato";
  width: 30%;
  margin-left: 4em;
}

.product-right h2{
  color: #252525;
  letter-spacing: 1.61px;
}

.product-right h5 {
  margin-top: 1em;
  color: #8367D8;
  letter-spacing: 0.84px;
}

.bidding {
  margin: 1em 0 1em 0;
}

.bidding-field {
  display: flex;
}

.product-right button {
  margin-left: 1.5em;
  padding: 0 0.5em 0 0.5em;
  background: #FFFFFF;
  border: 3px solid #8367D8;
  box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
  color: #252525;
  letter-spacing: 0.63px;
  font-weight: bold;
  font-size: 0.5em;
}

.product-right button:hover {
  background: #f0f0f0;
}

.bidding label {
  font-size: 0.5em;
  color: #9B9B9B;
  letter-spacing: 0.52px;
  line-height: 22px;
}

.bid-input {
  width: 10em;
  background: #ECECEC;
  border: 1px solid #D8D8D8;
  height: 100%;
}

.bidding-info {
  margin: 1em 0 2em 0;
  font-size: 0.6em;
  color: #9B9B9B;
  letter-spacing: 0.56px;
}

.bidding-info p {
  display: inline;
  color: #8367D8;;
}

.product-details hr {
  margin: 1em 0 1em 0;
  background: #ECECEC;
}

.product-details h6 {
  margin-left: 1em;
  color: #252525;
  letter-spacing: 0.63px;
}

.product-details p {
  font-size: 0.6em;
  color: #252525;
  letter-spacing: 0.52px;
  line-height: 1.7em;
}

.product {
  display: flex;
  margin: auto;
  margin-top: 3em;
  width: 85%;
}

.product-left {
  width: 50%;
  height: 100%;
}

.each-fade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.each-fade div {
  width: 80%;
}

.each-fade div img {
  width: 100%;
 
}

.related-product {
  width: 25%;
}

.product-preview {
  display: flex;
  flex-direction: column;
  font-family: "Lato";
  width:100%;
}

.product-preview a {
  display: flex;
  align-items: center;
}

.product-preview img {
  width: 100%;
  overflow-y: hidden;
}

.product-preview label {
  font-size: 0.7em;
}

.related-products {
  margin: auto;
  margin-top: 4em;
  margin-bottom: 7em;
  font-family: "Lato";
  width: 80%;
}

.related-products hr {
  margin: 1em 0 1em 0;
  background: #ECECEC;
  width: 90%;
}

.related-products div {
  display: flex;
  justify-content: space-between;
}

.status-code {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  font-size: 20em;
  color: #8367D8;
  letter-spacing: 10.5px;
  text-shadow: 8px 10px 0 #DADADA;
}

.err-page-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  font-size: 1em;
  color: #252525;
  letter-spacing: 1.26px;
}

@media screen and (max-width: 750px) {
    .product {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .product-right {
      width: 80%;
      margin: auto;
      margin-top: 2em;
    }
    .product-left {
      width: 80%;
      margin: auto;
    }
}