@import url("https://fonts.googleapis.com/css?family=Lato");
$purple-color: #8367d8;
$font-stack: "Lato-Regular", sans-serif;

.subcategories-list {
    font-size:16px;
    color:black;
}

h2 {
    margin-bottom: 25px;
    margin-top:20px;
}