@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
$purple-color: #8367d8;
$font-stack: "Lato-Regular", sans-serif;
$font-light: "Lato-Light", sans-serif;
