.product-info-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
}

.place-bid-container {
    display: flex;
    flex-wrap: wrap;
}

.featured-product-price {
    margin-top: 10px;
}

.place-bid-form {
    text-align: center;
    width: 176px;
    box-shadow: none;
    margin-right: 20px;
}

.place-bid-label {
    font-size: 15px;
    color: #9b9b9b;
    letter-spacing: 0.52px;
    margin-top: 10px;
}

.button-bid {
    width: 192;
    padding: 0;
}

.arrow {
    font-size: 24px;
}

.highest-bid {
    color: #9b9b9b;
}

.span-bid {
    color: #8367d8;
    font-weight: bold;
}

.wished { 
    border-color: #8367D8;
}

.details-18 { 
    margin-top:15px;
    font-size: 18px;
}

.details-15 { 
    font-size: 15px;
}