@import url("https://fonts.googleapis.com/css?family=Lato");
$purple-color: #8367d8;
$font-stack: "Lato-Regular", sans-serif;

.landing-page-container {
    min-height: 563px;
    margin-left: -14.3%;
    margin-right: -14.3%;
    padding-left: 14.3%;
    padding-right: 14.3%;
    background: #fafafa;
    display: flex;
}

.list-group-categories {
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.11);
    border-radius: 0;
    width: 25%;
    text-align: left;
    height: max-content;
    max-height: 99%;
    overflow-y: auto;
}

.list-group-categories > .list-group-item {
    border-color: #ececec;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 51px;
}

.featured-main-container {
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
    padding: 5% 0 5% 5%;
    display: flex;
    width: 100%;
    height: 100%;
}

.featured-product-container {
    height: 70%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.featured-product-price {
    font-size: 24px;
    color: $purple-color;
    letter-spacing: 0.84px;
    margin-bottom: 10px;
    margin-top:10px;
}

.featured-product-description {
    line-height: 22px;
    max-width: 323px;
    max-height: 200px;
    overflow-y: hidden;
}

.featured-product-image {
    width: 35vw;
    max-height: 22vw;
    object-fit: contain;
}

.featured-container {
    margin-top: 3%;
    text-align: left;
}

.featured-subcategory-container {
    margin-top: 3%;
    text-align: left;
}

.featured-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.arrow-forward {
    font-size: 24px;
}

.categories-link {
    color: $purple-color;
    font-weight: bold;
    border-bottom: none;
}

.tabs-container {
    display: flex;
    font-size: 28px;
    cursor: pointer;
}

.line {
    margin-top:10px;
    border-top: solid 4px #ECECEC;
}

.landing-button {
    width: 192px;
    height: 54px;
    color:black;
    background-color: #fff;
    border: 4px solid $purple-color;
    font-weight: bold;
    font-size: 18px;
    margin-top:20px;
    box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
    &:hover {
        background-color:white;
        color:black;
        border-color: black;
      }
    
}

.featured-heading {
    padding-right: 1330px;
}
.custom-tab {
    margin-bottom: -14px;
    position: relative;
    padding-bottom: 8px;
    font-size: 28px;
    letter-spacing: 0.98px;
    width: 180px;
    border-bottom: 4px solid #8367D8;
}

.space {
    margin:20px;

}
.page-active {
    border-bottom: 4px solid #8367D8;
}

@media (max-width: 1200px) {
    .featured-product-container {
        flex-direction: column;
    }
    .featured-product-container-inner {
        margin-bottom: 10px;
    }
    .list-group-categories {
        width: 50%;
    }
}

@media (max-width: 575px) {
    .landing-page-container {
        flex-wrap: wrap;
    }
    .featured-product-container {
        padding-left: 0;
    }
    .featured-product-image {
        width: 100%;
        max-height: 82%;
    }
    .list-group-categories {
        width: 100%;
    }
}
